body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

.alto-100 {
    height: 100vh;
}

.card {
    max-width: 325px;
}

.card img:hover {
    opacity: 0.9;
}

.card, .card img {
    border-radius: 15px;
}

.card p {
    font-weight: 500;
}

h1 {
    font-size: 1.2em;
}